<!DOCTYPE html>
<html>
  <head>
  <meta charset="UTF-8">
    <style>
      
    </style>
  </head>
  <body>   
   <h1>ĐĂNG NHẬP</h1>
    <form id="loginForm" action="http://localhost:8081/DKDT/LoginController" method="POST">
        <label for="username">Tên đăng nhập:</label>
        <input type="text" id="username" name="txtUsername" required><br>

        <label for="password">Mật khẩu:</label>
        <input type="password" id="password" name="txtPassword" required><br>

        <input type="submit" value="Submit"/>
    </form>  
     
	<script src="script.js"></script>  
 
       
  </body>
</html>