<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
	</head>
	
	<body>
		<!-- TIÊU ĐỀ TRANG -->    
		<h1>ĐĂNG NHẬP</h1>
		<form id="loginForm" action="middleware" method="POST">
			<label for="username">Tên đăng nhập:</label>
			<!-- Ô nhập Username -->  
			
			<input type="text" id="username" name="txtUsername" required><br>
			<label for="password">Mật khẩu:</label>
			<!-- Ô nhập Password --> 
			<input type="password" id="password" name="txtPassword" required><br>
			<!-- Nút Submit --> 
			<button type="submit">Login</button>
		</form>  
	</body>
</html>